<nav class="site-nav">
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger" class="menu-icon">
        <span></span>
    </label>
    
    <div class="trigger">
        <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
        <a class="page-link" href="{{ '/about/' | relative_url }}">Chi sono</a>
        <a class="page-link" href="{{ '/progetti/' | relative_url }}">Progetti</a>
        <a class="page-link" href="{{ '/blog/' | relative_url }}">Blog</a>
        <a class="page-link" href="{{ '/contatti/' | relative_url }}">Contatti</a>
    </div>
</nav>
